<!DOCTYPE html>
<html>

<head>
    <title>MuzMarket</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('styles', path='index.css')}}">
    <link rel="stylesheet" href="{{url_for('styles', path='login.css')}}">
    {% block head %}{% endblock %}
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__wrapper">
                <img class="header-logo" src="{{url_for('icons', path='logo1.png')}}" onclick="location.href = '/'" alt="Логотип">
                <div class="header__menu">
                    <div class="header__menu-item">
                        <a class="header__menu-item-link" href="#">
                            Покупателям
                        </a>
                        <div class="header__submenu-box">
                            <ul class="header__submenu-list">
                                <li class="header__submenu-list-item">
                                    <a class="header__submenu-list-link" href="#">
                                        Способы оплаты
                                    </a>
                                </li>
                                <li class="header__submenu-list-item">
                                    <a class="header__submenu-list-link" href="#">
                                        Условия доставки
                                    </a>
                                </li>
                                <li class="header__submenu-list-item">
                                    <a class="header__submenu-list-link" href="#">
                                        Гарантийное обслуживание
                                    </a>
                                </li>
                                <li class="header__submenu-list-item">
                                    <a class="header__submenu-list-link" href="#">
                                        Вопросы и ответы
                                    </a>
                                </li>
                                <li class="header__submenu-list-item">
                                    <a class="header__submenu-list-link" href="#">
                                        Техническая поддержка
                                    </a>
                                </li>
                                <li class="header__submenu-list-item">
                                    <a class="header__submenu-list-link" href="#">
                                        Условия предоставления цен
                                    </a>
                                </li>
                                <li class="header__submenu-list-item">
                                    <a class="header__submenu-list-link" href="#">
                                        Проверить статус заявки
                                    </a>
                                </li>
                                <li class="header__submenu-list-item">
                                    <a class="header__submenu-list-link" href="#">
                                        База знаний
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="header__menu-item">
                        <a class="header__menu-item-link" href="#">
                            Услуги
                        </a>
                        <div class="header__submenu-box">
                            <ul class="header__submenu-list">
                                <li class="header__submenu-list-item">
                                    <a class="header__submenu-list-link" href="#">
                                        Аренда товаров
                                    </a>
                                </li>
                                <li class="header__submenu-list-item">
                                    <a class="header__submenu-list-link" href="#">
                                        Настройка инструментов
                                    </a>
                                </li>
                                <li class="header__submenu-list-item">
                                    <a class="header__submenu-list-link" href="#">
                                        Музыкальные курсы
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="header__menu-item">
                        <a class="header__menu-item-link" href="#">
                            О нас
                        </a>
                        <div class="header__submenu-box">
                            <ul class="header__submenu-list">
                                <li class="header__submenu-list-item">
                                    <a class="header__submenu-list-link" href="#">
                                        О компании
                                    </a>
                                </li>
                                <li class="header__submenu-list-item">
                                    <a class="header__submenu-list-link" href="#">
                                        Контактная информация
                                    </a>
                                </li>
                                <li class="header__submenu-list-item">
                                    <a class="header__submenu-list-link" href="#">
                                        Банковские реквизиты
                                    </a>
                                </li>
                                <li class="header__submenu-list-item">
                                    <a class="header__submenu-list-link" href="#">
                                        Партнерам
                                    </a>
                                </li>
                                <li class="header__submenu-list-item">
                                    <a class="header__submenu-list-link" href="#">
                                        Вакансии
                                    </a>
                                </li>
                                <li class="header__submenu-list-item">
                                    <a class="header__submenu-list-link" href="#">
                                        Новости
                                    </a>
                                </li>
                                <li class="header__submenu-list-item">
                                    <a class="header__submenu-list-link" href="#">
                                        Карта сайта
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="header__location">
                    <div class="select-box">
                        <img class="location-label" src="{{url_for('icons', path='location-label.svg')}}" alt="Ярлык">
                        <select class="header__location-select">
                            {% for region in regions %}
                            <option class="header__location-option">
                                {{region}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="search-box">
                        <div class="search-box__link search-box__link-search" href="#">
                            <img class="serarch-box__link-" src="{{url_for('icons', path='header-search.svg')}}" alt="Поиск">
                        </div>
                        <input class="header__search" type="text" placeholder="Поиск">
                        <div class="search-box__link search-box__link-clear" href="#">
                            <img class="serarch-box__link-" src="{{url_for('icons', path='header-search-remove.svg')}}" alt="Очистить">
                        </div>
                    </div>
                </div>
                <div class="header__info-box">
                    <a class="header__phone" href="#">
                        +7(999) 999-99-99
                    </a>
                    <div class="header__basket-box">
                        <div class="header__basket-box-item">
                            <div class="header__basket-box-link" href="#">
                                <a href="/delivery">
                                    <img class="header__basket-box-img" src="{{url_for('icons', path='header-favorites.svg')}}"
                                        alt="Понравившееся">
                                    <p class="header__basket-box-text">
                                        История заказов
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="header__basket-box-item">
                            <div class="header__basket-box-link">
                                <a href="/basket">
                                    <img class="header__basket-box-img" src="{{url_for('icons', path='header-basket.svg')}}" alt="Корзина">
                                    <p class="header__basket-box-text">
                                        Корзина
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="header__basket-box-item">
                            <div class="header__basket-box-link" href="#">
                                <!-- Изменения тут, добавлены login.css и login.js в начале и в конце соответственно -->
                                <button class="header__basket-box-text"
                                    onclick="document.getElementById('id01').style.display='block'"
                                    style="width:auto;"><img class="header__basket-box-img" src="{{url_for('icons', path='header-log-in.svg')}}" alt="Персона"/>Войти</button>
                                <div id="id01" class="modal">
                                    <div class="wrapper">
                                        <div class="title-text">
                                            <div class="title login">
                                                Вход
                                            </div>
                                            <div class="title signup">
                                                Регистрация
                                            </div>
                                        </div>
                                        <div class="form-container">
                                            <div class="slide-controls">
                                                <input type="radio" name="slide" id="login" checked>
                                                <input type="radio" name="slide" id="signup">
                                                <label for="login" class="slide login">Вход</label>
                                                <label for="signup" class="slide signup">Регистрация</label>
                                                <div class="slider-tab"></div>
                                            </div>
                                            <div class="form-inner">
                                                <form action="#" class="login" id="login_form">
                                                    <div class="field">
                                                        <input type="text" placeholder="Введите Ваш E-mail" id="email_login" required>
                                                    </div>
                                                    <div class="field">
                                                        <input type="password" placeholder="Пароль" id="password_login" required>
                                                    </div>
                                                    <div class="pass-link">
                                                        <a href="#">Забыли пароль?</a>
                                                    </div>
                                                    <div class="field btn">
                                                        <div class="btn-layer"></div>
                                                        <input type="submit" value="Войти" id="btn_login">
                                                    </div>
                                                    <div class="signup-link">
                                                        Нет аккаунта? <a href="">Зарегестрируйтесь</a>
                                                    </div>
                                                </form>
                                                <form action="#" class="signup">
                                                    <div class="field">
                                                        <input type="text" placeholder="Введите Ваш E-mail" id="email_signup" required>
                                                    </div>
                                                    <div class="field">
                                                        <input type="password" placeholder="Пароль" id="password_signup" required>
                                                    </div>
                                                    <div class="field">
                                                        <input type="password" placeholder="Повторите Пароль" id="repassword_signup" required>
                                                    </div>
                                                    <div class="field btn" id="btn_signup">
                                                        <div class="btn-layer"></div>
                                                        <input type="submit" value="Зарегестрироваться" id="signup_form">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="main">
        <section class="top">
            <div class="container">
                <div class="top__wrapper">
                    <div class="top__menu">
                        <div class="top__menu-item">
                            <a class="top__menu-link" href="#">
                                <div class="top__img-wrapper">
                                    <img class="top__img" src="{{url_for('icons', path='brand.svg')}}" alt="Комплекты">
                                </div>
                                <p class="top__menu-text">
                                    Бренды
                                </p>
                            </a>
                        </div>
                        <div class="top__menu-item">
                            <a class="top__menu-link" href="#">
                                <div class="top__img-wrapper">
                                    <img class="top__img" src="{{url_for('icons', path='rent.svg')}}" alt="Комплекты">
                                </div>
                                <p class="top__menu-text">
                                    Товары в аренду
                                </p>
                            </a>
                        </div>
                        <div class="top__menu-item">
                            <a class="top__menu-link" href="#">
                                <div class="top__img-wrapper">
                                    <img class="top__img" src="{{url_for('icons', path='set.svg')}}" alt="Комплекты">
                                </div>
                                <p class="top__menu-text">
                                    Комплекты
                                </p>
                            </a>
                        </div>
                        <div class="top__menu-item">
                            <a class="top__menu-link" href="#">
                                <div class="top__img-wrapper">
                                    <img class="top__img" src="{{url_for('icons', path='study.svg')}}" alt="Курсы">
                                </div>
                                <p class="top__menu-text">
                                    Обучение и курсы
                                </p>
                            </a>
                        </div>
                        <div class="top__menu-item">
                            <a class="top__menu-link" href="#">
                                <div class="top__img-wrapper">
                                    <img class="top__img" src="{{url_for('icons', path='class.svg')}}" alt="Классы">
                                </div>
                                <p class="top__menu-text">
                                    Музыкальные классы и базы
                                </p>
                            </a>
                        </div>
                        <div class="top__menu-item">
                            <a class="top__menu-link" href="#">
                                <div class="top__img-wrapper">
                                    <img class="top__img" src="{{url_for('icons', path='setting.svg')}}" alt="Ремонт">
                                </div>
                                <p class="top__menu-text">
                                    Ремонт инструментов
                                </p>
                            </a>
                        </div>
                        <div class="top__menu-item">
                            <a class="top__menu-link" href="#">
                                <div class="top__img-wrapper">
                                    <img class="top__img" src="{{url_for('icons', path='gift_card.svg')}}" alt="Скидка">
                                </div>
                                <p class="top__menu-text">
                                    Подарочные карты
                                </p>
                            </a>
                        </div>
                        <div class="top__menu-item">
                            <a class="top__menu-link" href="#">
                                <div class="top__img-wrapper">
                                    <img class="top__img" src="{{url_for('icons', path='top-sale.svg')}}" alt="Скидка">
                                </div>
                                <p class="top__menu-text sale-color">
                                    Акции
                                </p>
                            </a>
                        </div>
                        <div class="top__menu-item">
                            <a class="top__menu-link" href="#">
                                <div class="top__img-wrapper">
                                    <img class="top__img" src="{{url_for('icons', path='top-track-order.svg')}}" alt="Заказ">
                                </div>
                                <p class="top__menu-text track-order">
                                    Отследить заказ
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <div class="container">
            <div class="footer__wrapper">
                <div class="contact">
                    <a class="contact__phone" href="#">
                        + 7 (999) 999-99-99
                    </a>
                    <div class="contact__info-box">
                        <button class="contact__call-btn">
                            Позвоните мне
                        </button>
                    </div>
                    <p class="contact__info-text">
                        Нажимая кнопку, вы соглашаетесь с Политикой конфиденциальности
                    </p>
                </div>
                <div class="company">
                    <div class="company__info-box">
                        <p class="company__info">
                            ООО ""
                        </p>
                        <p class="company__info">
                            ИНН
                        </p>
                        <p class="company__info">
                            ОГРН
                        </p>
                    </div>
                    <div class="social-media__box">
                        <ul class="social-media__list">
                            <li class="social-media__i">
                                <a class="social-media__link" href="#">
                                    <img class="social-media__img" src="{{url_for('icons', path='footer-vk.svg')}}" alt="Вконтакте">
                                </a>
                            </li>
                            <li class="social-media__i">
                                <a class="social-media__link" href="#">
                                    <img class="social-media__img" src="{{url_for('icons', path='footer-mail.svg')}}" alt="Почта">
                                </a>
                            </li>
                            <li class="social-media__i">
                                <a class="social-media__link" href="#">
                                    <img class="social-media__img" src="{{url_for('icons', path='footer-whatsapp.svg')}}" alt="Ватсап">
                                </a>
                            </li>
                            <li class="social-media__i">
                                <a class="social-media__link" href="#">
                                    <img class="social-media__img" src="{{url_for('icons', path='footer-instagram.svg')}}"
                                        alt="Инстаграм">
                                </a>
                            </li>
                        </ul>
                        <a class="footer__email" href="#">
                            @gmail.com
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="{{url_for('scripts', path='login.js')}}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>