{% extends "base_maket.html" %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('styles', path='product.css')}}">
{% endblock %}

{% block content %}
    <section class="product-one">
        <div class="container">
            <div class="product-one__wrapper">
                <div class="product-one__info-box">
                    <div class="bread-crumbs__wrapper">
                        <ul class="bread-crumbs__list">
                            <li class="bread-crumbs__item">
                                <a class="bread-crumbs__link" href="index.html">
                                    Главная
                                </a>
                            </li>
                            <li class="bread-crumbs__item">
                                <a class="bread-crumbs__link" href="#">
                                    Каталог
                                </a>
                            </li>
                            <li class="bread-crumbs__item">
                                <a class="bread-crumbs__link" href="#">
                                    {{item.subcategory}}
                                </a>
                            </li>
                            <li class="bread-crumbs__item">
                                <a class="bread-crumbs__link" href="#">
                                    Название товара
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__row">
                        <div class="product__row-slider">
                            <div class="product__slider">
                                <div class="product__slider_item">
                                    <div class="slider_item-image">
                                        <img src="{{url_for('instrument_images', path=item['article'] + '.jpg')}}" alt="">
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="product__slider-bottom">
                                <div class="product__slider_item">
                                    <div class="slider_item-image">
                                        <img src="img/catalog-item05.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product__slider_item">
                                    <div class="slider_item-image">
                                        <img src="img/catalog-item06.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product__slider_item">
                                    <div class="slider_item-image">
                                        <img src="img/catalog-item01.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product__slider_item">
                                    <div class="slider_item-image">
                                        <img src="img/catalog-item02.jpg" alt="">
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="product__description-border">
                            <div class="product__description">
                                <div class="product__description-title">
                                    {{item['title']}}
                                </div>
                                <div class="product__description-category">
                                    <span>Категория:</span>
                                    <span>{{item['subcategory']}}</span>
                                    <br>
                                    <span>Арт:</span>
                                    <span>{{item['article']}}</span>
                                </div>
                                <div class="product__description_text">
                                    Отличный инструмент, сочетающий в себе яркое звучание с надежностью и долговечностью.
                                    Идеально подходит как новичкам, так и профессионалам.
                                </div>
                                <div class="product__description_rating">
                                    <p class="estimation">{{item['rate']}}</p>
                                </div>
                                <div class="product__description-price">
                                    {{item['price']}} ₽
                                </div>
                                <div class="product__description-btns">
                                    <div class="product__description-btn">
                                        <a href="#" targer="blank">купить</a>
                                    </div>
                                    <div class="product__description-basket">
                                        <a href="#" target="blank">добавить в корзину</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product__delivery-right">
                            <div class="product__delivery">
                                <div class="product__delivery-title">
                                    Наличие в магазинах:
                                </div>
                                <div class="product__delivery_rating">
                                    <p class="estimation">В интернет-магазине: есть</p>
                                </div>
                                <div class="product__delivery_rating">
                                    <p class="estimation">Бесплатный самовывоз из любого магазина сети</p>
                                </div>
                                <div class="product__delivery_text">
                                    Доставка по Москве от 200р
                                </div>
                                <div class="product__delivery_text">
                                    Принимаем все виды оплаты
                                </div>
                                <div class="product__delivery_text">
                                    30 дней на возврат
                                </div>
                                <div class="product__delivery_text">
                                    Гарантия от 18 месяцев
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="tabs">
        <div class="container">
            <div class="tabs__wrapper">
                <div class="links__wrapper">
                    <ul class="links__list">
                        <li class="links__list-item links__list-item--active" data-tab="#tab1">
                            Характеристики
                        </li>
                    </ul>
                </div>
                <div class="tabs-box">
                    <div class="tabs-box__item active--element" id="tab1">
                        <div class="tabs-box__specifications-wrapper">
                            {% for parameter in item['parameters'] %}
                                <div class="tabs-box__specifications-item{{'-even' if (loop.index-1)%2 else ''}}">
                                    <p class="tabs-box__specifications-item-text">
                                        {{parameter}}
                                    </p>
                                    <p class="tabs-box__specifications-item-text">
                                        {{item['parameters'][parameter]}}
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                        <button class="tabs-box__specifications-list-all" href="#">
                            показать больше
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script src="{{url_for('scripts', path='product.js')}}"></script>
{% endblock %}