{% extends "base_maket.html" %}

{% block head %}
{% endblock %}


{% block content %}
    <section class="bread-crumbs">
        <div class="container">
            <div class="bread-crumbs__wrapper">
                <ul class="bread-crumbs__list">
                    <li class="bread-crumbs__item">
                        <a class="bread-crumbs__link" href="/">
                            Главная
                        </a>
                    </li>
                    <li class="bread-crumbs__item">
                        <a class="bread-crumbs__link" href="/">
                            Каталог
                        </a>
                    </li>
                    <li class="bread-crumbs__item">
                        <a class="bread-crumbs__link" href="#">
                            {{subcategory_info.category}}
                        </a>
                    </li>
                    <li class="bread-crumbs__item">
                        <a class="bread-crumbs__link" href={{"/catalog/"+subcategory_info.endpoint}}>
                            {{subcategory_info.subcategory}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="basic">
        <div class="container">
            <div class="basic__wrapper">
                <div class="basic__filter-case">
                    <div class="flter-case__top">
                        <h2 class="filter-case__title">
                            Параметры
                        </h2>
                    </div>
                    <input class="filter-case__search" type="text" placeholder="Поиск по каталогу">
                    {% for strainer in strainers %}
                    <div class="filter-case__info-box1">
                        <h2 class="filter-case__info-box-top1">
                            {{strainer}}
                        </h2>
                    </div>
                    {% endfor %}
                </div>
                <div class="product">
                    <div class="product__net-box">
                        <h2 class="product-title">
                            Инструменты
                        </h2>
                        <div class="product-net">
                            {% for item in items %}
                            <div class="product__item-box">
                                <img class="product__img-box-favorites" src="{{url_for('icons', path='favorites.svg')}}" alt=" Избранное">
                                <div class="product__img-box">
                                    <img class="product__img-box-bg" src="{{url_for('instrument_images', path=item.article+'.jpg')}}" alt="Гитара">
                                </div>
                                <div class="box">
                                    <div class="product__item-body">
                                        <a class="product__item-title" href={{item.endpoint+"/"+item.article}}>
                                            {{item.subcategory}}
                                        </a>
                                        <p class="product__vendor-code">
                                            Арт: {{item.article}}
                                        </p>
                                        <p class="product__description">
                                            {{item.title}}
                                        </p>
                                    </div>
                                    <div class="product__item-botton-list">
                                        <div class="product__item-price-box-list">
                                            <div class="product__new-price-box">
                                                <p class="product__new-price">
                                                    {{item.price}}
                                                </p>
                                                <img class="product__rub-img" src="{{url_for('icons', path='rub-img.svg')}}"
                                                    alt="Рубль">
                                                <span class="dividing-line">/</span>
                                            </div>
                                        </div>
                                        <div class="product__img-basket-wrapper">
                                            <p class="product__img-wrapper-text-list">
                                                В корзину
                                            </p>
                                            <img class="product__img-basket" src="{{url_for('icons', path='product-basket.svg')}}"
                                                alt="Корзина">
                                        </div>
                                        <div class="rating">
                                            <img class="rating-img" src="{{url_for('icons', path='star-sharp.svg')}}"
                                                style="width: 8%" alt="Звезда">
                                            <p class="estimation">{{item.rate}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="pagination">
                        <div class="container">
                            <div id="change"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script src="{{url_for('scripts', path='paginator.js')}}"></script>
{% endblock %}
